# Python stuff
.pytest_cache
__pycache__
*.pyc

# pip stuff
dapt.egg-info/*
dist/*

# Dev env stuff
.vscode
.DS_Store

# Unwanted files
test.csv
docs/_build
ignore.py

# Stuff you probably don't want for security reasons
config.json
credentials.json
test_credentials.json
test_config.json

# DAPT ingores
dapt.log
sample_db.csv